## Challenge: What test to use

Using selected questions from the 2012 and 2014 editions of the European Social Survey, address the following questions.

Keep track of your code and results in a Jupyter notebook or other source that you can share with your mentor. For each question, explain why you chose the approach you did.

Here is the data file. And here is the codebook, with information about the variable coding and content.

In this dataset, the same participants answered questions in 2012 and again 2014.

Did people become less trusting from 2012 to 2014? Compute results for each country in the sample.

Did people become happier from 2012 to 2014? Compute results for each country in the sample.

Who reported watching more TV in 2012, men or women?

Who was more likely to believe people were fair in 2012, people living with a partner or people living alone?

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('https://raw.githubusercontent.com/Thinkful-Ed/data-201-resources/master/ESS_practice_data/ESSdata_Thinkful.csv')

In [2]:
df.head()
df.isna()
df.describe()

,idno,year,tvtot,ppltrst,pplfair,pplhlp,happy,sclmeet,sclact,gndr,agea,partner
count,8.594000e+03,8594.000000,8586.000000,8580.000000,8555.000000,8569.000000,8563.000000,8579.000000,8500.000000,8584.000000,8355.000000,8577.000000
mean,3.954938e+04,6.500000,3.861985,5.559907,6.005143,5.319874,7.694616,5.192563,2.748941,1.497204,47.470736,1.384867
std,6.267259e+05,0.500029,2.019689,2.233700,2.129866,2.173449,1.735904,1.457643,0.905477,0.500021,18.397369,0.486592
min,1.000000e+00,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,15.000000,1.000000
25%,1.052000e+03,6.000000,2.000000,4.000000,5.000000,4.000000,7.000000,4.000000,2.000000,1.000000,33.000000,1.000000
50%,1.714000e+03,6.500000,4.000000,6.000000,6.000000,5.000000,8.000000,6.000000,3.000000,1.000000,47.000000,1.000000
75%,2.745000e+03,7.000000,5.000000,7.000000,8.000000,7.000000,9.000000,6.000000,3.000000,2.000000,62.000000,2.000000
max,1.100143e+07,7.000000,7.000000,10.000000,10.000000,10.000000,10.000000,7.000000,5.000000,2.000000,114.000000,2.000000

In [3]:
gdf = df.dropna().groupby(['cntry','year'],as_index=False)['ppltrst','happy'].mean()
gdf['moretrust'] = gdf['ppltrst'].diff()[gdf['year']==7]
gdf['happier'] = gdf['happy'].diff()[gdf['year']==7]

In [4]:
# Did people become more trusting?
gdf.sort_values(by='moretrust',ascending=False)[gdf['year']==7]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

   cntry  year   ppltrst     happy  moretrust   happier
5     DE     7  5.357143  7.857143   0.280220  0.549451
11    SE     7  6.239908  7.938870   0.196834  0.037822
1     CH     7  5.764468  8.142665   0.078676  0.059332
3     CZ     7  4.356436  6.922442  -0.046227  0.132093
9     NO     7  6.599719  7.919944  -0.048586 -0.332881
7     ES     7  4.940035  7.450617  -0.187771 -0.107241

In [5]:
# In this case, the higher the trust, the higher the value in moretrust
# Negative change indicates trust decrease
# On average, trust slightly increased for Germany, Sweden and Switzerland
# and slightly decreased for Czech Republic, Norway and Spain

# Did people get happier?
gdf.sort_values(by='happier',ascending=False)[gdf['year']==7]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

   cntry  year   ppltrst     happy  moretrust   happier
5     DE     7  5.357143  7.857143   0.280220  0.549451
3     CZ     7  4.356436  6.922442  -0.046227  0.132093
1     CH     7  5.764468  8.142665   0.078676  0.059332
11    SE     7  6.239908  7.938870   0.196834  0.037822
7     ES     7  4.940035  7.450617  -0.187771 -0.107241
9     NO     7  6.599719  7.919944  -0.048586 -0.332881

In [6]:
# The higher the value, the higher the happiness, and happiness increase the most
# in Germany and increased slightly in Czech Republic, Switzerland, and Sweden
# It decreased slighly in Spain and more so in Norway

tdf = df.dropna().groupby(['gndr'],as_index=False)['tvtot'].mean()[df['year']==6]
tdf

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

   gndr     tvtot
0   1.0  3.782842
1   2.0  3.854847

In [7]:
#  Surprising to me, females report watching more TV than males
fdf = df.dropna().groupby(['partner'],as_index=False)['pplfair'].mean()[df['year']==6]
fdf

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

   partner   pplfair
0      1.0  6.062238
1      2.0  5.913848

In [8]:
# People who live with a partner, on average, believe people are more fair than those who live alone